body {
    font-family: Comic Sans MS, cursive;
    margin: 20px;
}
.settings-container {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}
.setting {
    margin-bottom: 10px;
}
button {
    width: 100px;
    margin-top: 10px;
    text-align: center;
}
html
{
    width: 320px; 
    height: 255px;
}
img.logo {
    padding-right: 10px;
}